body {
    background-image: url(image/BackG.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.Home_Page {
    position: fixed;
    top: 750px;
    left: 800px;
    font-size: 40px;
    color: red;
}

p {
    font-size: 35px;
}

h1 {
    font-size: 300%;
    position: fixed;
    top: 180px;
    left: 850px;
}