body {
    background-image: url(Image/BackG.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.size-1 {
    font-size: 300%;
    position: fixed;
    top: 200px;
    left: 830px;
}

.image1 {
    position: fixed;
    top: 350px;
    left: 860px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.image2 {
    position: fixed;
    top: 335px;
    left: 845px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.Link_1 {
    position: fixed;
    top: 590px;
    left: 879px;
    font-size: 40px;
    color: red;
}

.Link_2 {
    position: fixed;
    top: 650px;
    left: 790px;
    font-size: 40px;
    color: red;
}

.Link_3 {
    position: fixed;
    top: 720px;
    left: 830px;
    font-size: 40px;
    color: red;
}
