body {
  background-image: url(Image/BackG.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.size-1 {
  font-size: 350%;
  position: fixed;
  top: 200px;
  left: 790px;
}

.size-2 {
  font-size: 200%;
  position: fixed;
  top: 300px;
  left: 800px;
}

.Home_Page {
  position: fixed;
  top: 450px;
  left: 800px;
  font-size: 40px;
  color: red;
}
